In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [225]:
data_types = ['packet', 'power']
modes = ['baseline', 'music', 'mute', 'questions']
datasets = {}

In [231]:
for mode in modes:
    for data_type in data_types:
        dataset_name = '_'.join([data_type, mode]) 
        path = 'data/' + mode + '/' + dataset_name + '.csv'
        datasets[dataset_name] = pd.read_csv(path)

In [232]:
#clean data

for name, dataset in datasets.items(): 
    if 'packet' in name[:len('packet')]:
        dataset['timestamp'] = dataset['timestamp'].astype(int) #round timestamp
        dataset[(dataset['source_ip'] == '172.16.42.215') | 
                (dataset['destination_ip'] == '172.16.42.215')] = np.NaN#filter IP
        
        datasets[name] = dataset.groupby('timestamp').agg(packet_volume=('packet_size', 'count'), #extract features
                                                  packet_size=('packet_size', 'sum'))
    if 'power' in name[:len('power')]:
        datasets[name] = dataset.set_index('time')

TypeError: 'float' object is not subscriptable

In [233]:
dataset

nan

In [228]:
x = datasets['power_baseline']
y = datasets['packet_baseline']
z = y.join(x, how='right')
z

              packet_volume  packet_size  apower  voltage  current     state
time
1.669869e+09            NaN          NaN     1.4    120.3    0.029  baseline
1.669869e+09            NaN          NaN     1.4    120.2    0.029  baseline
1.669869e+09            7.0       2712.0     1.4    120.2    0.029  baseline
1.669869e+09           10.0       2958.0     1.4    120.2    0.028  baseline
1.669869e+09            3.0        276.0     1.4    120.2    0.028  baseline
...                     ...          ...     ...      ...      ...       ...
1.669869e+09         1030.0    1177796.0     1.5    120.3    0.029  baseline
1.669869e+09           77.0      19939.0     1.5    120.3    0.029  baseline
1.669869e+09            4.0         40.0     1.4    120.3    0.029  baseline
1.669869e+09           94.0      21529.0     1.4    120.3    0.029  baseline
1.669869e+09           22.0       2760.0     1.4    120.3    0.029  baseline

[110 rows x 6 columns]

In [162]:
y

            packet_volume  packet_size
timestamp
1669869783              4           64
1669869813              3           92
1669869843              3           92
1669869873              3           92
1669869874              3           64

In [139]:
datasets['power_music']

            apower  voltage  current state
time
1669868992     2.4    120.2    0.042  mute
1669868993     2.3    120.2    0.038  mute
1669868994     2.3    120.2    0.038  mute
1669868995     2.1    120.2    0.038  mute
1669868996     2.1    120.2    0.038  mute
...            ...      ...      ...   ...
1669869107     2.4    120.5    0.040  mute
1669869108     2.4    120.5    0.040  mute
1669869109     2.2    120.5    0.039  mute
1669869110     2.2    120.5    0.039  mute
1669869111     2.3    120.5    0.039  mute

[111 rows x 4 columns]

In [130]:
datasets['packet_music']

            packet_volume  packet_size
timestamp
1669868990              7         8568
1669868991            112       123971
1669868992              2            0
1669868993              1            0
1669868994              1            0
1669868995             89        93756
1669868996            680       502656
1669868997            397       297024
1669868998            219       185019
1669869014              4           92
1669869015             20        23784
1669869016            645       532644
1669869017            774       623518
1669869018             52         5712
1669869024              4         2364
1669869025            818       655452
1669869026            497       352501
1669869033            161       135168
1669869034            583       498372
1669869035            352       272748
1669869036            209       169714
1669869044            500       449420
1669869045            642       455532
1669869046            224       127314
1669869053            526       420767
1669869054            660       544068
1669869055              2           78
1669869058              3           64
1669869062            146       132312
1669869063            654       478380
1669869064            497       375564
1669869065             90        82792
1669869073            316       280825
1669869074            437       358520
1669869075            471       374796
1669869076              2         1428
1669869083            446       332236
1669869084            657       486948
1669869085            278       203536
1669869091              1           47
1669869092             11          782
1669869093            381       329379
1669869094            794       670296
1669869102            560       432195
1669869103            665       545693
1669869104              3           92

In [11]:
power_baseline_path = 'data/baseline/power_baseline.csv'
power_mute_path = 'data/music/power_music.csv'
power_music_path = 'data/mute/power_mute.csv'
power_questions_path = 'data/questions/power_questions.csv'

In [12]:
power_baseline = pd.read_csv(power_baseline_path)
power_mute = pd.read_csv(power_mute_path)
power_music = pd.read_csv(power_music_path)
power_questions = pd.read_csv(power_questions_path)

In [17]:
power_baseline.to_csv(power_baseline_path, index=False)
power_mute.to_csv(power_mute_path, index=False)
power_music.to_csv(power_music_path, index=False)
power_questions.to_csv(power_questions_path, index=False)